name: Continuous Integration

on:
  [pull_request, workflow_dispatch]

jobs:
  setup:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        include:
          - os: ubuntu-latest
            flutter_path: /opt/hostedtoolcache/flutter
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Cache Flutter dependencies
        uses: actions/cache@v2
        with:
          path: ${{ matrix.flutter_path }}
          key: ${{ runner.os }}-flutter-2.0.x
      - uses: subosito/flutter-action@v1.4.0
        with:
          channel: 'stable'
      - name: "Prepare Flutter Environment"
        run: ./.github/workflows/scripts/prepare-env.sh
      - name: "Install Tools"
        run: |
          ./.github/workflows/scripts/install-tools.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  analyze:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.5.0
        with:
          access_token: ${{ github.token }}
      - name: Configuring java
        uses: actions/setup-java@v1
        with:
          java-version: 12.x
      - name: Cache Flutter dependencies
        uses: actions/cache@v2
        with:
          path: /opt/hostedtoolcache/flutter
          key: ${{ runner.os }}-flutter-2.0.x
      - name: Configuring flutter environment
        uses: subosito/flutter-action@v1.4.0
        with:
          flutter-version: '2.0.x'
          channel: 'stable'
      - name: "Prepare Flutter Environment"
        run: ./.github/workflows/scripts/prepare-env.sh
      - name: "Install Tools"
        run: |
          ./.github/workflows/scripts/install-tools.sh
      - name: "Bootstrap Workspace"
        run: melos bootstrap
      - name: "Dart Analyze"
        run: melos run analyze

  format:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs: setup
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.5.0
        with:
          access_token: ${{ github.token }}
      - name: Configuring java
        uses: actions/setup-java@v1
        with:
          java-version: 12.x
      - name: Cache Flutter dependencies
        uses: actions/cache@v2
        with:
          path: /opt/hostedtoolcache/flutter
          key: ${{ runner.os }}-flutter-2.0.x
      - name: Configuring flutter environment
        uses: subosito/flutter-action@v1.4.0
        with:
          flutter-version: '2.0.x'
          channel: 'stable'
      - name: "Prepare Flutter Environment"
        run: ./.github/workflows/scripts/prepare-env.sh
      - name: "Install Tools"
        run: |
          ./.github/workflows/scripts/install-tools.sh
          curl -sL https://github.com/google/google-java-format/releases/download/google-java-format-1.3/google-java-format-1.3-all-deps.jar -o $HOME/google-java-format.jar
      - name: "Bootstrap Workspace"
        run: melos bootstrap
      - name: "Formatter"
        run: melos run format
      - name: "Validating formatter"
        run: ./.github/workflows/scripts/validate-formatting.sh

  build_torch_controller_example_ubuntu:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.5.0
        with:
          access_token: ${{ github.token }}
      - name: Configuring java
        uses: actions/setup-java@v1
        with:
          java-version: 12.x
      - name: Cache Flutter dependencies
        uses: actions/cache@v2
        with:
          path: /opt/hostedtoolcache/flutter
          key: ${{ runner.os }}-flutter-2.0.x
      - name: Configuring flutter environment
        uses: subosito/flutter-action@v1.4.0
        with:
          flutter-version: '2.0.x'
          channel: 'stable'
      - name: "Prepare Flutter Environment"
        run: ./.github/workflows/scripts/prepare-env.sh
      - name: "Install Tools"
        run: ./.github/workflows/scripts/install-tools.sh
      - name: "Bootstrap Workspace"
        run: melos bootstrap
      - name: "torch_controller_example app bundle"
        run: cd packages/torch_controller/example && flutter build appbundle

  test_torch_controller:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs: setup
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.5.0
        with:
          access_token: ${{ github.token }}
      - name: Configuring java
        uses: actions/setup-java@v1
        with:
          java-version: 12.x
      - name: Cache Flutter dependencies
        uses: actions/cache@v2
        with:
          path: /opt/hostedtoolcache/flutter
          key: ${{ runner.os }}-flutter-2.0.x
      - name: Configuring flutter environment
        uses: subosito/flutter-action@v1.4.0
        with:
          flutter-version: '2.0.x'
          channel: 'stable'
      - name: "Prepare Flutter Environment"
        run: ./.github/workflows/scripts/prepare-env.sh
      - name: "Install Tools"
        run: ./.github/workflows/scripts/install-tools.sh
      - name: "Bootstrap Workspace"
        run: melos bootstrap
      - name: "Flutter Test"
        run:  melos run test:torch:controller

  test_storage_controller:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs: setup
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.5.0
        with:
          access_token: ${{ github.token }}
      - name: Configuring java
        uses: actions/setup-java@v1
        with:
          java-version: 12.x
      - name: Cache Flutter dependencies
        uses: actions/cache@v2
        with:
          path: /opt/hostedtoolcache/flutter
          key: ${{ runner.os }}-flutter-2.0.x
      - name: Configuring flutter environment
        uses: subosito/flutter-action@v1.4.0
        with:
          flutter-version: '2.0.x'
          channel: 'stable'
      - name: "Prepare Flutter Environment"
        run: ./.github/workflows/scripts/prepare-env.sh
      - name: "Install Tools"
        run: ./.github/workflows/scripts/install-tools.sh
      - name: "Bootstrap Workspace"
        run: melos bootstrap
      - name: "Flutter Test"
        run:  melos run test:storage:controller
