name: "Danger"
on: [pull_request]

jobs:
  validate_danger:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: "Cancel previous runs"
        uses: styfle/cancel-workflow-action@0.5.0
        with:
          access_token: ${{ github.token }}
      - name: "Yarn install"
        run: "yarn install"
      - name: "Danger Run"
        run: yarn danger
        env:
          DANGER_GITHUB_API_TOKEN: ${{ github.token }}
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
